@layer base {
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400 800;
    font-display: swap;
    src: local('Inter'), local('Inter Regular'), url("../css/fonts/Inter-Latin.woff2") format('woff2');
  }

  @font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: local('IBM Plex Mono'), local('IBM Plex Mono Regular');
  }
}
